@using JoycePrint.Domain.Mail

<!DOCTYPE html>
<html>
<head id="headMaster">

    <!-- Set the encoding to UTF-8 -->
    <meta charset="utf-8" />

    <!-- Tells IE to use it's Edge rendering engine -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Ensures proper rendering and touch zooming -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- This line allows sub pages to omit the Header section -->
    @RenderSection("head", false)

    <!-- Normal browser style sheet links -->
    @Styles.Render("~/css/joyceprintcss")
        
    @Html.Partial("Partial/Favicons")
        
    <!-- Incuding the materialize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>@ViewBag.Title</title>
    
    <meta name="description" content="Get a great price from JoycePrint on trade docket books and other print trade items">

    @{
        var action = ViewContext.RouteData.Values["action"]?.ToString();
    }

</head>
<body>

    @if (!string.Equals(action, Email.EmailView, StringComparison.OrdinalIgnoreCase))
    {
        @Html.Partial("_Header")
    }

    <main>
        @RenderBody()
    </main>

    @if (!string.Equals(action, Email.EmailView, StringComparison.OrdinalIgnoreCase))
    {
        @Html.Partial("_Footer")
    }

    <!-- This is the overlay that will be used to hide the screen while the loading icon is active -->
    <div id="loader-overlay"></div>

    @Scripts.Render("~/js/joyceprintjs")

</body>
</html>