<!DOCTYPE html>

<html>

<head id="headMaster">

    <!-- Set the encoding to UTF-8 -->
    <meta charset="utf-8" />

    <!-- Tells IE to use it's Edge rendering engine -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Ensures proper rendering and touch zooming -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- This line allows sub pages to omit the Header section -->
    @RenderSection("head", false)
   
    <!-- Normal browser style sheet links -->
    @Styles.Render("~/Content/css/joyceprintcss")
    
    <link rel="icon" href="@Url.Content("~/Content/images/favicon.ico")" />

    <!-- Including google font: Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <title>@ViewBag.Title</title>

</head>

<body class="container-fluid">
            
    @Html.Partial("_Header")
       
    <div id="wrap">        
        <main id="masterBody" class="row">
            @RenderBody()
        </main>
    </div>
    
    @Html.Partial("_Footer")

    @Scripts.Render("~/Scripts/joyceprintjs")

</body>
</html>
