<!DOCTYPE html>

<html>

<head id="headMaster">

    <!-- Set the encoding to UTF-8 -->
    <meta charset="utf-8" />

    <!-- Tells IE to use it's Edge rendering engine -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Ensures proper rendering and touch zooming -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- This line allows sub pages to omit the Header section -->
    @RenderSection("head", false)

    <!-- Normal browser style sheet links -->
    @Styles.Render("~/css/joyceprintcss")

    <link rel="icon" href="@Url.Content("~/Content/images/favicon.ico")" />

    <!-- Incuding the materialize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    

    <title>@ViewBag.Title</title>

</head>

<body>

    @Html.Partial("_Header")

    <main class="interaction-load">
        @RenderBody()
    </main>

    @Html.Partial("_Footer")
    
    <div class="media-loader-holder">
        <div class="media-loader media-loader-inside"></div>
        <div class="media-loader media-loader-outside"></div>
    </div>

    @Scripts.Render("~/js/joyceprintjs")

</body>
</html>