@using JoycePrint.Domain.Models

@model Contact

<section id="contact-us" class="row no-mar-bot">
    
    <!--
    class="validate"                                        -   Turns on HTML5 validation
    data-val="true"                                         -   Turns on MVC .NET validation

    required                                                -   Html required validation
    data-val-required="Company name is a required field"    -   MVC required validation and validation message

    maxlength="150"                                         -   Html max characters allowed
    data-val-maxlength-max="150"                            -   MVC .NET max characters allowed
    data-val-maxlength="Too many characters used"           -   MVC .NET max length validation message

    pattern="( *)(([A-Za-z0-9]+)( *))*"                     -   Html5 reg ex pattern
    data-val-regex-pattern="( *)(([A-Za-z0-9]+)( *))*"      -   MVC .NET reg ex pattern
    data-val-regex="Please check company name"              -   MVC .NET reg ex pattern validation message

    Validation message for
    <span class="field-validation-valid" data-valmsg-for="Contact.Company" data-valmsg-replace="true"></span>

    -->    
    <div class="input-field col s12" data-test-company>
        <i class="material-icons prefix orange-text text-accent-4">business</i>
        @Html.TextBoxFor(m => m.Company)
        @Html.LabelFor(m => m.Company)
        @Html.ValidationMessageFor(m => m.Company)
    </div>
    
    <div class="input-field col s12" data-test-name>
        <i class="material-icons prefix orange-text text-accent-4">perm_identity</i>
        @Html.TextBoxFor(m => m.Name)
        @Html.LabelFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="input-field col s12" data-test-email>
        <i class="material-icons prefix orange-text text-accent-4">email</i>
        @Html.TextBoxFor(m => m.Email)
        @Html.LabelFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>

    <div class="input-field col s12" data-test-phone>
        <i class="material-icons prefix orange-text text-accent-4">phone</i>
        @Html.TextBoxFor(m => m.Phone)
        @Html.LabelFor(m => m.Phone)
        @Html.ValidationMessageFor(m => m.Phone)
    </div>

</section>