@using JoycePrint.Domain.Models

@model QuoteRequest

<section id="quote" class="row no-mar-bot light-grey" data-test-form-id="frmQuote" data-menu-item>

    <div class="container">
        <div class="row eq-height no-mar-bot">
            <div class="col s12">
                <h1 class="quote-header center-align">Get A Quote</h1>
            </div>

            <div class="col l5 m10 offset-m1 s12">
                @Html.Partial("Partial/PrintChecklist")

                <div class="row">
                    <div class="col s12">
                        @Html.Partial("Partial/Map")
                    </div>
                </div>
            </div>

            <div class="col l6 offset-l1 m10 offset-m1 s12">
                @using (Html.BeginForm("Index", "Quote", FormMethod.Post, new { required = "true", id = "frm-quote" }))
                {
                    <!--
                    [ Security - CSRF ]
                    Html.AntiForgeryToken() - Prevents MVC Cross Site Request Forgery
                    This has to be used with [ ValidateAntiForgeryToken() ] on the action method
                    -->
                    @Html.AntiForgeryToken()
                    
                    @Html.EditorFor(model => model.Contact, "ContactForm")

                    @Html.EditorFor(model => model.Enquiry, "EnquiryForm")

                    <div class="row no-mar-bot">
                        <div class="col l7 m12 s12 no-pad-right">
                            @{ Html.RenderAction("Recaptcha", "Security"); }

                            @*
                                Change this to be an image - get a security type image
                                have the image showing on page load
                                when the user scrolls over the images position on the screen display the text using an animation
                            *@
                            <small>We do not share your details with any third parties.</small>
                        </div>

                        <div class="col s12 space-bot hide-on-large-only"></div>

                        <div class="col l5 m12 s12">
                            <div class="row">
                                <div class="col l10 offset-l2 m6 s12 add-pad-bot center">
                                    <button class="col s12 btn waves-effect orange" type="reset" data-test-clear>CLEAR</button>
                                </div>

                                <div class="col l10 offset-l2 m6 s12 center">
                                    <button class="col s12 btn waves-effect waves-green green" type="button" data-test-submit>SUBMIT</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</section>