@using JoycePrint.Domain.Models

@model QuoteRequest

<section id="quote" class="row no-mar-bot light-grey" data-test-form-id="frmQuote" data-menu-item>

    <div class="container">
        <div class="row eq-height no-mar-bot">
            <div class="col s12">
                <h1 class="quote-header center-align">Get A Quote</h1>
            </div>

            <div class="col l5 m10 offset-m1 s12">
                @Html.Partial("Partial/PrintChecklist")

                <div class="row">
                    <div class="col s12">
                        @Html.Partial("Partial/Map")
                    </div>
                </div>
            </div>

            <div class="col l6 offset-l1 m10 offset-m1 s12">
                @using (Html.BeginForm("Index", "Quote", FormMethod.Post, new { required = "true", id = "frm-quote", enctype = "multipart/form-data" }))
                {
                    <!--
                    [ Security - CSRF ]
                    Html.AntiForgeryToken() - Prevents MVC Cross Site Request Forgery
                    This has to be used with [ ValidateAntiForgeryToken() ] on the action method
                    -->
                    @Html.AntiForgeryToken()
                    
                    @Html.EditorFor(model => model.Contact, "ContactForm")

                    @Html.EditorFor(model => model.Enquiry, "EnquiryForm")

                    @Html.EditorFor(model => model.Attachment, "AttachmentForm")

                    @Html.Partial("Partial/Submit")
                }
            </div>
        </div>
    </div>

</section>