<!DOCTYPE html>

<html>

<head id="headMaster">

    <!-- Set the encoding to UTF-8 -->
    <meta charset="utf-8" />

    <!-- Tells IE to use it's Edge rendering engine -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Ensures proper rendering and touch zooming -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- This line allows sub pages to omit the Header section -->
    @RenderSection("head", false)
   
    <!-- Normal browser style sheet links -->
    @Styles.Render("~/Content/css/joyceprintcss")    
    
    <link rel="icon" href="@Url.Content("~/Content/images/favicon.ico")" />

    <title>@ViewBag.Title</title>

</head>

<body class="container-fluid">
            
    @Html.Partial("_Header")
       
    @Html.Partial("_Navigation")    

    @* We add the row class here so we don't have to do it in every view *@
    <section id="masterBody" class="row">
        @RenderBody()
    </section>
    
    @Html.Partial("_Footer")    

    @Scripts.Render("~/Scripts/joyceprintjs")

</body>
</html>
